<nav>
    <div class="logo">
        <h2>JS_HEAVEN</h2>
    </div>
    <div class="links">
        <a href="/"></a>
        <a href="/about"> ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>
    <div class="button">
        <a href="/login"><button>LOGIN</button></a>
    </div>
</nav>